@font-face {
  font-family: "TTLakes-Bold";
  src: local("TT Lakes"), url(../../font/services/TTLakes-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "TTLakes-Regular";
  src: local("TT Lakes"), url(../../font/services/TTLakes-Regular.ttf) format("truetype");
}
body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  font-size: 0px;
  padding: 0 16px;
}
.header__menu.button {
  display: flex;
  align-items: center;
  block-size: auto;
  padding: 0;
  margin: 0;
}
.header__menu:nth-child(2)::after {
  content: "";
  display: inline-block;
  border-left: solid #EAEAEA;
  width: 2px;
  height: 32px;
  margin-left: 16.73px;
}
.header__menu--hidden {
  position: absolute;
  visibility: hidden;
}
.header__extend-container--hidden {
  display: none;
}

.button {
  border: none;
  background: none;
}

.services {
  width: 100%;
}
.services__body {
  min-height: calc(100vh - 88px - 59px);
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 35px;
  font-family: TTLakes-Regular;
  background-color: #F8F8F8;
}
.services__title {
  position: relative;
  padding-left: 16px;
  margin-left: -16px;
  margin-bottom: 24px;
}
.services__title::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  background: #41F6D7;
  width: 4px;
  height: 40px;
  border-width: 2px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.title {
  width: 304px;
  height: 40px;
  font-size: 28px;
  font-family: TTLakes-Bold;
  color: #1B1C21;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.slide-menu {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  height: 64px;
}
.slide-menu__section {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  height: 40px;
  text-wrap: nowrap;
  color: #7E7E82;
  background-color: transparent;
}
.slide-menu__section--box {
  border: none;
  padding: 8px 16.5px;
}
.slide-menu__section--box:focus {
  border: solid 2px #B8FFEC;
  border-radius: 5px;
  background-color: white;
}

.slide-menu--hover-scroll:hover {
  overflow: auto;
  scrollbar-width: thin;
}

.descr-block {
  display: flex;
  flex-wrap: wrap;
}
.descr-block__about {
  width: 94.7%;
  font-size: 14px;
  font-family: TTLakes-Regular;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.descr-block__image {
  margin-top: 16px;
  margin-left: auto;
  width: 100%;
  min-width: 320px;
  max-width: 360px;
  height: auto;
}
.descr-block__image img {
  width: 100%;
  height: auto;
}
.descr-block__about--hidden {
  display: none;
}

.readmore__text {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 24px;
  font-family: TTLakes-Regular;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
}
.readmore__text::before {
  content: "";
  background-image: url("../../img/services/expand.svg");
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .header {
    box-sizing: border-box;
    padding: 0 24px;
    width: 100.13%;
  }
  .header__menu.button {
    margin-right: 16px;
  }
  .header__menu:first-child {
    margin-right: 20px;
  }
  .header__menu:nth-child(1)::after {
    content: "";
    display: inline-block;
    border-left: solid #EAEAEA;
    width: 2px;
    height: 32px;
    margin-left: 18px;
    align-self: center;
  }
  .header__menu:nth-child(2) {
    margin-right: auto;
  }
  .header__menu:nth-child(2)::after {
    border: none;
  }
  .header__menu:nth-child(5)::after {
    content: "";
    display: inline-block;
    border-left: solid #EAEAEA;
    width: 2px;
    height: 32px;
    margin-left: 20px;
    align-self: center;
  }
  .header__menu:last-child {
    margin-right: 0;
  }
  .header__menu--hidden {
    position: relative;
    visibility: visible;
  }
  .services {
    padding-right: 15px;
  }
  .services__body {
    box-sizing: border-box;
    height: calc(100vh - 88px);
    width: 100.13%;
    margin: 0;
    padding: 24px 25px 40px 24px;
  }
  .services__title {
    margin-left: -24px;
    margin-bottom: 32px;
  }
  .title {
    padding-left: 20px;
  }
  .slide-menu__section--box {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.200000003px;
  }
  .descr-block {
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-between;
  }
  .descr-block__about {
    width: 42.4%;
    height: 87%;
    height: 30vh;
    line-height: 20px;
    letter-spacing: 0.200000003px;
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .descr-block__image {
    width: 100%;
    margin: 0;
    min-width: 360px;
  }
  .descr-block__about--hidden {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 60px;
    max-height: 116px;
    overflow: hidden;
    display: inline-block;
    justify-self: flex-end;
  }
  .readmore {
    height: 24px;
    width: 200px;
    overflow: visible;
  }
  .readmore__text {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .header__::before {
    margin-right: 30px;
  }
  .header__extend-container--hidden {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-bottom: 8px;
  }
  .header__menu:first-child::after {
    border: none;
  }
  .header__menu.button {
    display: flex;
  }
  .header__menu.button:first-child {
    margin-right: 32px;
  }
  .header__menu.button:last-child {
    margin-right: 7px;
  }
  .header__menu.button:nth-child(n)::after {
    display: none;
  }
  .header__descr {
    display: inline-block;
    align-self: center;
    margin-right: 8px;
    line-height: 24px;
    letter-spacing: -0.200000003px;
    font-family: TTLakes-Regular;
    font-weight: bold;
  }
  .heading-block {
    display: flex;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    align-items: center;
  }
  .services {
    padding: 0;
  }
  .services__body {
    padding: 42px 25px 49px 34px;
    max-width: 1440px;
    height: 100vh;
  }
  .services__title {
    margin: 0;
    margin-left: -34px;
    margin-bottom: 8px;
    align-self: center;
  }
  .title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238px;
    padding-left: 30px;
  }
  .slide-menu {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-between;
    overflow: visible;
  }
  .slide-menu__section--box {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.200000003px;
    padding: 8px 22px;
    border: solid 2px transparent;
  }
  .slide-menu__section--box:last-child {
    margin-bottom: 16.22px;
  }
  slide-menu--hover-scroll::hover {
    overflow: visible;
  }
  .descr-block {
    width: 100%;
    height: 307px;
  }
  .descr-block__about {
    width: 46%;
    height: auto;
    margin-right: 36px;
  }
  .descr-block__image {
    width: 48.59%;
    max-width: 600.35px;
    min-width: 531.35px;
  }
  .descr-block__about--hidden {
    overflow: visible;
    width: 100%;
  }
  .readmore__text {
    margin: 0;
    margin-top: 13.78px;
  }
}/*# sourceMappingURL=services.css.map */